.wrap{
    width: 500px;
    height: 600px;

}
.a{
    width:  395px;
    height: 200px;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px;

}
.father{
    width:  400px;
    height: 200px;
    display: flex;
    flex-direction: row;


}
.b{
    width:  450px;
    height: 200px;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px;
}
.c{
    width:  150px;
    height: 200px;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px;

}

@media screen and (max-width:700px){
    .father{
        flex-direction: column;

    }
    .a{
        width: 400px;
        height: 50px;
    }
    .b{
        width:  400px;
        height: 300px;
    }
    .c{
        width: 400px;
        height: 100px;

    }

}
